      <header>
        <h1>Corona</h1>
        <p>A base theme developed for the Office of Design&#39;s Wordpress projects</p>
        <p class="view"><a href="https://github.com/IIP-Design/corona">View the Project on GitHub <small>IIP-Design/corona</small></a></p>
        <ul>
          <li><a href="https://github.com/IIP-Design/corona/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/IIP-Design/corona/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/IIP-Design/corona">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
