      <header>
        <h1>Corona</h1>
        <p>A base theme developed for the Office of Design&#39;s Wordpress projects</p>
        <p class="view"><a href="https://github.com/IIP-Design/corona">View the Project on GitHub <small>IIP-Design/corona</small></a></p>
        <ul>
          <li><a href="https://github.com/IIP-Design/corona/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/IIP-Design/corona/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/IIP-Design/corona">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>

      <nav class="primary-nav">
        <h2>Contents</h2>
        <ul>
          <li><a href="#development-setup">Development Setup</a></li>
          <li><a href="#production">Production</a>
          <ul>
            <li><a href="#asset-compilation">Asset Compilation</a></li>
            <li><a href="#bump-version">Bump Version</a></li>
          </ul>
          </li>
          <li><a href="#theme-hooks">Theme Hooks</a>
            <ul>
              <li><a href="#visual-action-hook-guide">Visual Action Hook Guide</a></li>
              <li><a href="#corona-action-hooks">Corona Action Hooks</a></li>
              <li><a href="#corona-filter-hooks">Corona Filter Hooks</a></li>
            </ul>
          </li>
          <li><a href="#shortcodes">Shortcodes</a></li>
          <li><a href="#templates-and-markup">Templates and Markup</a>
            <ul>
              <li><a href="#visual-markup-guide">Visual Markup Guide</a></li>
              <li><a href="#responsive-columns">Responsive Columns</a></li>
              <li><a href="#page-templates">Page Templates</a></li>
            </ul>
          </li>
          <li><a href="#media-queries">Media Queries</a></li>
        </ul>
      </nav>
