/*------------------------------------*\
  #VARIABLES (DEFAULTS)
\*------------------------------------*/

$font-color: rgb(34, 34, 34);
$border-color: rgb(0, 0, 0);

// Form Variables
$disabled-bg: #ccc;
$disabled-font-color: #eee;
$disabled-border: darken($disabled-bg, 10%);
$placeholder-color: rgb(79, 79, 79);
$button-bg: rgb(255, 255, 255);
$button-font-color: rgb(0, 0, 0);
$button-bg-alt: rgb(0, 0, 0);
$button-font-color-alt: rgb(255, 255, 255);
$form-input-padding: 10px;

// Typography
$font-default: sans-serif;
$font-alternate: serif;

// Repeated styles
$box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
$border: 1px solid $border-color;



/*------------------------------------*\
  #MEDIA-QUERIES
\*------------------------------------*/

$big-mobile:           25em; // 400px
$tablet:               48em; // 768px
$laptop:               64em; // 1024px
$desktop:              75em; // 1200px
